<section class="section">
  <div class="container">
    <h1 class="title">Some coding tutorial <button class="button is-link" (click)="pay()">Simulate payment</button></h1>
    <div class="box">
      <h2 class="subtitle is-2">
        The first example
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque possimus
        alias neque odit quia quos dolorum totam nemo odio, quibusdam
        repudiandae voluptatum. Perferendis sunt non, nemo aut quos minus
        deleniti!
      </p>
      <code *ngIf="monetized" class="is-block">
        const text = 'Here is text for the first example'; console.log(text);
      </code>
      <div *ngIf="!monetized" class="notification is-primary">
        You need monetization to see the code
      </div>
    </div>
    <div class="box">
      <h2 class="subtitle is-2">
        The second part
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque possimus
        alias neque odit quia quos dolorum totam nemo odio, quibusdam
        repudiandae voluptatum. Perferendis sunt non, nemo aut quos minus
        deleniti!
      </p>
      <code *ngIf="monetized" class="is-block">
        const text = 'Here is text for the second example'; console.log(text);
      </code>
      <div *ngIf="!monetized" class="notification is-primary">
        You need monetization to see the code
      </div>
    </div>
  </div>
</section>
